<%= form_for(@cmet_version) do |f| %>
  <% if @cmet_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cmet_version.errors.count, "error") %> prohibited this cmet_version from being saved:</h2>

      <ul>
      <% @cmet_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cmet_id %><br>
    <%= f.text_field :cmet_id %>
  </div>
  <div class="field">
    <%= f.label :realm %><br>
    <%= f.text_field :realm %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :status_date %><br>
    <%= f.date_select :status_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
