<h1>Listing CMETs</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Descriptor</th>
      <th>Attribution</th>
      <th>Description</th>
      <th>Work group</th>
      <th>Domain</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cmets.each do |cmet| %>
      <tr>
        <td><%= cmet.ident %></td>
        <td><%= cmet.descriptor %></td>
        <td><%= cmet.attribution %></td>
        <td><%= cmet.description %></td>
        <td><%= cmet.work_group ? cmet.work_group.name : '' %></td>
        <td><%= cmet.domain %></td>
        <td><%= link_to 'Show', cmet_path(cmet.ident) %></td>
        <td><%= link_to 'Edit', edit_cmet_path(cmet.ident) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cmet', new_cmet_path %>
