<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @cmet.identifier %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @cmet.descriptor %>
</p>

<p>
  <strong>Attribution:</strong>
  <%= @cmet.attribution %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cmet.description %>
</p>

<p>
  <strong>Work group:</strong>
  <%= @cmet.work_group %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @cmet.domain_id %>
</p>

<%= link_to 'Edit', edit_cmet_path(@cmet) %> |
<%= link_to 'Back', cmets_path %>
