<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @cmet.ident %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @cmet.descriptor %>
</p>

<p>
  <strong>Attribution:</strong>
  <%= @cmet.attribution %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cmet.description %>
</p>

<p>
  <strong>Work group:</strong>
  <%= @cmet.work_group.name %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @cmet.domain %>
</p>

<p>
  <strong>Releases:</strong>
  <ul>
    <%= render @cmet.cmet_versions %>
  </ul>
</p>
<%= link_to 'Back', cmets_path %>
